{% extends "lessons.html" %}
{% load static %}

{% block content %}

    <h1>List of Lessons</h1>
    <div class="row mb-3">
        <div class="col-md-2 themed-grid-col">Lesson</div>
        <div class="col-md-2 themed-grid-col">Lecturer</div>
        <div class="col-md-1 themed-grid-col">SKS</div>
        <div class="col-md-2 themed-grid-col">Room</div>
        <div class="col-md-2 themed-grid-col">Semester</div>
        <div class="col-md-3 themed-grid-col">Description</div>
    </div>
    <div class="row mb-1 bg-dark">
        <div class="col-md-12">.</div>
    </div>

    {% for lesson in all_lessons %}
        {% if not lesson.DoesNotExist %}
            <div class="row mb-3">
                <div class="col-md-2 themed-grid-col">{{ lesson.name }}</div>
                <div class="col-md-2 themed-grid-col">{{ lesson.lecturer }}</div>
                <div class="col-md-1 themed-grid-col">{{ lesson.sks }}</div>
                <div class="col-md-2 themed-grid-col">{{ lesson.room }}</div>
                <div class="col-md-2 themed-grid-col">{{ lesson.semester }}</div>
                <div class="col-md-2 themed-grid-col">{{ lesson.description }}</div>
                <form class="needs-validation" action="{% url 'lessons:delete' %}" method="post" novalidate>
                    {% csrf_token %}
                    <div class="col-md-1 themed-grid-col">
                        <button type="submit" class="btn btn-secondary" name="name" value="{{ lesson.name }}">Delete
                        </button>
                    </div>
                </form>
            </div>
        {% endif %}
        {% if lesson.DoesNotExist %}
            <div class="row mb-12">
                <div class="col-md-2 themed-grid-col">No Lessons Registered</div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}