{% extends "lessons.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="py-5 text-center">
            <h2>Add Lesson</h2>
            <p class="lead">Got a lesson you want to register? Add it below!</p>
        </div>

        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your lessons</span>
                    <span class="badge badge-secondary badge-pill">{{ lesson_count }}</span>
                </h4>

                <ul class="list-group mb-3">
                    {% for lesson in all_lessons %}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">{{ lesson.name }}</h6>
                                <small class="text-muted">{{ lesson.semester }}</small>
                            </div>
                            <span class="text-muted">{{ lesson.sks }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Add lesson</h4>
                <form class="needs-validation" action="{% url 'lessons:add' %}" method="post" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="lesson">Lesson name</label>
                            <input type="text" class="form-control" id="lesson" name="lesson" placeholder="" value="{{ lesson.name }}" required>
                            <div class="invalid-feedback">
                                Valid lesson name is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lecturer">Lecturer</label>
                            <input type="text" class="form-control" id="lecturer" name="lecturer" placeholder="" value="{{ lesson.lecturer }}" required>
                            <div class="invalid-feedback">
                                Valid Lecturer is required.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" name="description" placeholder="" value="{{ lesson.description }}">
                        <div class="invalid-feedback">
                            Please enter a lesson description.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="credits">Credits</label>
                        <input type="text" class="form-control" id="credits" name="credits" placeholder="12" value="{{ lesson.sks }}" required>
                        <div class="invalid-feedback">
                            Please enter a number of credits.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="room">Lesson room <span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="room" name="room" placeholder="Lab 103" value="{{ lesson.sks }}">
                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="semester">Semester</label>
                            <select class="custom-select d-block w-100" id="semester" name="semester" required value="{{ lesson.semester }}">
                                <option value="">Choose...</option>
                                <option value="2018/2019">2018/2019</option>
                                <option value="2019/2020">2019/2020</option>
                                <option value="2020/2021">2020/2021</option>
                                <option value="2021/2022">2021/2022</option>
                                <option value="2022/2023">2022/2023</option>
                                <option value="2023/2024">2023/2024</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid semester.
                            </div>
                        </div>
                    </div>

                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit" value="add">Add lesson</button>
                </form>
            </div>
        </div>
    </div>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/form-validation.js"></script></body>
{% endblock %}